---
# Service for all gethrelay instances (headless service for peer discovery)
apiVersion: v1
kind: Service
metadata:
  name: gethrelay
  namespace: gethrelay
  labels:
    app: gethrelay
spec:
  clusterIP: None  # Headless service
  selector:
    app: gethrelay
  ports:
  - name: p2p
    port: 30303
    targetPort: 30303
    protocol: TCP

---
# Individual services for each deployment (NodePort for external access)
apiVersion: v1
kind: Service
metadata:
  name: gethrelay-default-1
  namespace: gethrelay
spec:
  type: NodePort
  selector:
    app: gethrelay
    instance: default-1
  ports:
  - name: p2p
    port: 30303
    targetPort: 30303
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: gethrelay-default-2
  namespace: gethrelay
spec:
  type: NodePort
  selector:
    app: gethrelay
    instance: default-2
  ports:
  - name: p2p
    port: 30303
    targetPort: 30303
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: gethrelay-default-3
  namespace: gethrelay
spec:
  type: NodePort
  selector:
    app: gethrelay
    instance: default-3
  ports:
  - name: p2p
    port: 30303
    targetPort: 30303
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: gethrelay-prefer-tor-1
  namespace: gethrelay
spec:
  type: NodePort
  selector:
    app: gethrelay
    instance: prefer-tor-1
  ports:
  - name: p2p
    port: 30303
    targetPort: 30303
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: gethrelay-prefer-tor-2
  namespace: gethrelay
spec:
  type: NodePort
  selector:
    app: gethrelay
    instance: prefer-tor-2
  ports:
  - name: p2p
    port: 30303
    targetPort: 30303
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: gethrelay-prefer-tor-3
  namespace: gethrelay
spec:
  type: NodePort
  selector:
    app: gethrelay
    instance: prefer-tor-3
  ports:
  - name: p2p
    port: 30303
    targetPort: 30303
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: gethrelay-prefer-tor-4
  namespace: gethrelay
spec:
  type: NodePort
  selector:
    app: gethrelay
    instance: prefer-tor-4
  ports:
  - name: p2p
    port: 30303
    targetPort: 30303
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: gethrelay-only-onion-1
  namespace: gethrelay
spec:
  type: NodePort
  selector:
    app: gethrelay
    instance: only-onion-1
  ports:
  - name: p2p
    port: 30303
    targetPort: 30303
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: gethrelay-only-onion-2
  namespace: gethrelay
spec:
  type: NodePort
  selector:
    app: gethrelay
    instance: only-onion-2
  ports:
  - name: p2p
    port: 30303
    targetPort: 30303
    protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: gethrelay-only-onion-3
  namespace: gethrelay
spec:
  type: NodePort
  selector:
    app: gethrelay
    instance: only-onion-3
  ports:
  - name: p2p
    port: 30303
    targetPort: 30303
    protocol: TCP
